img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.tagline {
  font-style: italic;
  margin: 5px 0 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 12px 0 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  margin-bottom: 80px;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.news article {
  border: 1px solid #ccc;
  padding: 10px;
}

.news article h2 {
  margin-top: 0;
}

.byline {
  font-style: italic;
}

.article-content p {
  margin-bottom: 10px;
}

.image-caption {
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
